# üìä An√°lisis Exploratorio del Dataset Titanic

**Objetivo:**  
Explorar el dataset del Titanic para entender sus variables, detectar problemas en los datos
y encontrar patrones relacionados con la supervivencia.

In [102]:
import pandas as pd

In [103]:
df = pd.read_csv("titanic (1).csv")

## üîé Vista general del dataset

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [105]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [106]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [107]:
df.shape

(891, 12)

In [108]:
df.size

10692

## ‚ùì Preguntas de an√°lisis

- ¬øSobrevivieron m√°s mujeres que hombres?
- ¬øInfluye la clase social en la supervivencia?
- ¬øLa edad afecta la probabilidad de sobrevivir?

- ¬øSobrevivieron m√°s mujeres que hombres? Si, hubo mas mujeres que lograron sobrevivir

In [109]:
mujeres_vivas = df[(df["Sex"] == "female") & (df["Survived"] == 1)].shape[0]
hombres_vivos = df[(df["Sex"] == "male") & (df["Survived"] == 1)].shape[0]
print(f"El numero total de mujeres vivas es de {mujeres_vivas}")
print(f"El numero total de hombres vivos es de {hombres_vivos}")

El numero total de mujeres vivas es de 233
El numero total de hombres vivos es de 109

- ¬øInfluye la clase social en la supervivencia? Si, la clase social fue un factor determinante para garantizar la supervivencia de los pasajeros

In [110]:
df.groupby("Pclass")["Survived"].mean() * 100

Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64

- ¬øLa edad afecta la probabilidad de sobrevivir? Si, la edad es fundamental para la supervivencia de la persona ya que abajo dice que los ni√±os tuvieron un 57.9% de probabilidad de sobrevivir, a diferencia de los ancianos que solo tuvieron 22.7% de probabilidad de sobrevivir

In [111]:
bins = [0,12,18,30,45,60,80]
labels = ["Ni√±os", "Adolescentes", "Jovenes", "Adultos", "Adultos Mayores", "Ancianos"]
df["Grupos por edad"] = pd.cut(df["Age"], bins=bins, labels=labels)
df.groupby("Grupos por edad")["Survived"].mean() * 100

/var/folders/8k/r7mpdwj10lq28v41d5cp4mjr0000gn/T/ipykernel_2126/759391558.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("Grupos por edad")["Survived"].mean() * 100

Grupos por edad
Ni√±os              57.971014
Adolescentes       42.857143
Jovenes            35.555556
Adultos            42.574257
Adultos Mayores    40.740741
Ancianos           22.727273
Name: Survived, dtype: float64

## üíº Clase social y dinero
* ¬øQu√© clase tuvo mayor tasa de supervivencia (1ra, 2da, 3ra)?
* ¬øEl precio del boleto (Fare) se relaciona con sobrevivir?
* ¬øLas personas que pagaron boletos caros sobrevivieron m√°s?
* ¬øLa media del precio del boleto es diferente entre sobrevivientes y no sobrevivientes?